{% extends 'layout.twig' %}
{% block body %}
<blockquote class="blockquote text-center">
    <div class="mb-0">
        <p>You tried so hard</p>
        <p>And got so far</p>
        <p>But in the end</p>
        <p>It doesn't even matter</p>
        <p>You had to fall</p>
        <p>To lose it all</p>
        <p>But in the end</p>
        <p>It doesn't even matter</p>
    </div>
    <footer class="blockquote-footer">Linkin Park <cite title="Source Title">In the End</cite></footer>
</blockquote>
<p>A humble suggestion by our team:</p>
<p class="text-info"><a href="/fa17g16">You can go back to our search and look for other real estates.</a></p>
{% endblock %}