{% extends 'layout.twig' %}

{% block body %}
    <center>
        <div class="gabincontent">
            <div class="row">
              <div class="container-fluid">
                <center>
                  <div class="info">
                      <p><strong class="strongadapted"> Gabin Vivier deffo Soubong</strong><br/>
                          born on 23.02.1990</p>
                      <p>Steinkaute 4, 61169 Friedberg<br/>
                          tel: +491768048xxxx<br/>
                          vivier-gabin.deffo-soubong@informatik.hs-fulda.de</p>
                  </div>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="containter-fluid">
                <center>
                  <div class="photo">
                      <img src="/fa17g16/public/images/rsz_foto_gabin3.jpg" alt="Foto Gabin Vivier Deffo Soubong"/>
                  </div>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-12"> <h2 class="h2adapted">Professional career </h2> </div>
                </div>
                <div class="row">
                  <div class="col-lg-6"><span class="title">from Apr 2017</span></div>
                  <div class="col-lg-6"><p><span class="title">CONTINENTAL</span><br/>student work in software Engineer</p></div>
                </div>
                <div class="row">
                  <div class="col-lg-6"><span class="title">Nov 2016 to Jun 2017</span></div>
                  <div class="col-lg-6"><span class="title">@ONE IT GmbH</span><br/>Bachelor Thesis in Monitoring of heterogenous Network
                        and Server-infrastructure</p></div>
                </div>
                <div class="row">
                  <div class="col-lg-6"><span class="title">from Jun 2016 to Okt 2016</span></div>
                  <div class="col-lg-6"><span class="title">@ONE IT GmbH</span><br/>internship System Engineer<br/>Planning and building
                        a customer network in a new location with Documentation</p></div>
                </div>
                <div class="row">
                  <div class="col-lg-6"><span class="title">from Okt 2016 to Mai 2016</span></div>
                  <div class="col-lg-6"><span class="title">@ONE IT GmbH</span><br/>Student work in Managed Services<br/>Maintain ticket
                        system and set up mailbox in Exchange server</p></div>
                </div>
                <div class="row">
                  <div class="col-lg-6"><span class="title">from Feb 2015 to Apr 2015</span></div>
                  <div class="col-lg-6"><span class="title">Sanofi, Industriepark Höchst Frankfurt am Main</span><br/>Student work in
                        Support in production</p></div>
                </div>
                <div class="row">
                  <div class="col-lg-6"><span class="title">from Mai 2010 to Dec 2010</span></div>
                  <div class="col-lg-6"><span class="title">company of Transport Littoral(STL)</span>basic-internship</div>
                </div>
              </div>
           </div>
           <div class="row">
             <div class="container-fluid">
               <div class="row">
                 <div class="col-lg-12"> <h2 class="h2adapted">Study and Education</h2> </div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">Ab Apr 2017</span></div>
                 <div class="col-lg-6"><span class="title">Study of Applied Computer Science at the university Fulda</span><br/>graduation:
                        MAster of Sc</p></div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">Okt 2012 - Feb 2017</span></div>
                 <div class="col-lg-6"><span class="title">Study of Informations-and Kommunikationtechnology at the Technischen Hochschule Mittelhessen(THM)</span><br/>graduation:
                        Bachelor of Engineering</p></div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">Jun 2011 - Jul 2012</span></div>
                 <div class="col-lg-6"><span class="title">German language course at the university Darmstadt</span><br/>graduation:
                        German language examination for university entrance</p></div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">Sep 2001 - Aug 2010</span></div>
                 <div class="col-lg-6"><span class="title">high school of Palmier City Douala (cameroon)</span><br/>graduation:
                        Scientific High School baccalaureate</p></div>
               </div>
             </div>
           </div>
           <div class="row">
             <div class="container-fluid">
               <div class="row">
                 <div class="col-lg-12"> <h2 class="h2adapted">Computer Skills and Hobbys</h2> </div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">programming languages:</span></div>
                 <div class="col-lg-6"><span class="title">C, C++, MatLab, MySQL</span></div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">MS Office Tools:</span></div>
                 <div class="col-lg-6"><span class="title">MS Office, Visio</span></div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">operating system:</span></div>
                 <div class="col-lg-6"><span class="title">Linux (Ubuntu, RedHad), Windows 7, 8.1, 10, 2012 Server R2</span></div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">Monitoringstools:</span></div>
                 <div class="col-lg-6"><span class="title">Zabbix, Nagios, Wireshark</span></div>
               </div>
               <div class="row">
                 <div class="col-lg-6"><span class="title">Ab Okt 2015</span></div>
                 <div class="col-lg-6"><span class="title">Communications officer of the Cameroonian community Friedberg.</span>travel, soccer, Party manager
                    </p></div>
               </div>              
             </div>
           </div>                                                                                                                                                                                                                    
        </div>
    </center>
{% endblock %}
