{% extends 'layout.twig' %}

{% block body %}
  <div class="row">
    <div class="container-fluid">
      <center>
  			<h1>Lebenslauf Moritz</h1>
      </center>
    </div>
  </div>
  
  <div class="row">
    <div class="container-fluid">
      <center>
				<img src="/fa17g16/public/images/labrador2.png" alt="Labrador" class="img-responsive height: auto">
				<img src="/fa17g16/public/images/labrador.png" alt="Labrador" class="img-responsive height: auto">
      <center>
   </div>
	</div>
	
	<div class="row">
    <div class="container-fluid">
  		<table class="table">
  			<thead>
  				<tr>
  					<th></th>
  					<th>Zeitraum</th>
  					<th>Name</th>
  					<th>Art</th>
  					<th>Abschluss</th>
  					<th>Abschlussnote</th>
  				</tr>
  			</thead>
  			
  			<tbody>
  				<tr>
  					<th scope="row">1</th>
  					<td>2000 - 2004</td>
  					<td>Delfin-Schule</td>
  					<td>Grundschule</td>
  					<td>-</td>
  					<td>-</td>
  				</tr>
  				<tr>
  				  <th scope="row">2</th>
  				  <td>2004 - 2012</td>
  				  <td>Heinz-Rühmann-Schule</td>
  				  <td>Gymnasium</td>
  				  <td>Abitur</td>
  				  <td>2.0</td>
  				</tr>
  				<tr>
  				  <th scope="row">3</th>
  				  <td>2012 - 2016</td>
  				  <td>Hochschule Fulda</td>
  				  <td>University</td>
  				  <td>Bachelor</td>
  				  <td>2.3</td>
  				</tr>
  				<tr>
  				  <th scope="row">4</th>
  				  <td>2016 - ...</td>
  				  <td>Hochschule Fulda</td>
  				  <td>University</td>
  				  <td>Master</td>
  				  <td></td>
  				</tr>
  			</tbody>
  		</table>
    </div>
	</div>
  
  <div class="row">
    <div class="container-fluid">
      <center>
    			<strong>Alter 26 Jahre</strong><br>
    			<strong>Geboren in Berlin</strong><br>
    			<strong>Hobbys: Labrador</strong><br>
      </center>
    </div>
  </div>
</div>
{% endblock %}
